/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .form-align-right {
    float:right;    
  }

  .form-align-left{
    float:left;
  }

  .blockcenter{
    flex: 1 1 auto;
  }